.App {
  display: grid;
  justify-items: center;
  gap: 5px;
}

input {
  padding: 5px;
  border-radius: 8px;
}

.buttons {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto auto;
  gap: 5px;
}

.buttons>button {
  padding: 5px;
  border-radius: 5px;
}

.reset-buttons {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  gap: 5px;
}

.reset-buttons>button {
  background-color: lightcoral;
  padding: 5px;
  border-radius: 5px;
}